body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background:rgb(207, 197, 197);
}

#keyboard-container {
    text-align: center;
    user-select: none;
    width: 100vw;
    padding-top: 3rem;
}

button {
    height: 45px;
    width: 6%;
    margin: 3px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight:bold;
    border:none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
button:active {
    box-shadow: 2px 2px 5px #00000033, 
    -4px -4px 5px #ffffff55;
}

.wide {
    width: 12%;
    max-width: 120px;
}

#board-wrapper {
    width: 100vw;
    height: 100vh;
    flex-flow: column;
}

.board-container {
    display: grid;
    gap: 1px;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
    gap:10px;
}

.board-container div {
    font-size: 2.5rem;
    border-radius:4px;
    padding:1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.guess,
button,
.reload {
    background-color: transparent;
    box-shadow: 4px 4px 5px #00000033, 
    -4px -4px 5px #ffffff55;
    color:#22222277;
}
.reload {
    padding:0 1rem;
    width:fit-content;
    font-weight:normal;
}
.gray {
    background-color: rgba(161, 158, 158, 0.7);
}

.gold {
    background-color: rgba(196, 159, 67, .7);
}

.green {
    background-color: rgba(44, 179, 44, .7);
}

#instructions {
    position: fixed;
    top: 40px;
    width: 100vw;
    text-align: center;
}
