@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
*{font-family:'Rubik';font-weight:900}
body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background:#111;
}

#keyboard-container {
    text-align: center;
    user-select: none;
    width: 100vw;
    padding-top: 3rem;
}

button {
    width: 7%;
    padding:5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.wide {
    width: 12%;
    max-width: 120px
}
#board-wrapper {
    width: 100vw;
    height: 100vh;
    flex-flow: column;
}

.board-container {
    display: grid;
    gap: 1px;
    grid-template-columns: 4rem 4rem 4rem 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
}

.board-container div {
    font-size: 2.5rem;
    padding:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.guess,
button,
.reload {
    border:none;
    margin:1px;
    background-color: #22222255;
    color: #666;
}
button {
    font-size:1.1rem;
}
.reload {
    padding:1rem;
    width:fit-content;
}
.gray {
    background-color: #222;
    color:#444;
}

.gold {
    background-color: #71771c;
    color:#111;
}

.green {
    background-color: #397e0c;
    color:#111;
}

#instructions {
    position: fixed;
    top: 20px;
    width: 100vw;
    text-align: center;
}

.instr {
    padding:10px 15px;
    border-radius:5px;
}
