@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    font-family: 'Rubik';
    font-weight: 900
}

body {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    background-color: #ddd;
    transition: background-color 1s linear;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.err {
    /* background-color: #303030; */
    animation:shake .1s;
    animation-iteration-count: 3;
}

@keyframes shake {
    from {transform:translateX(-5px)}
    to {transform:translateX(5px)}
}

#statistics {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    fill: #666;
    margin: 5px;
    z-index: 10;
}

#stats {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    z-index: 9;
}

#sta>td {
    padding: 1rem;
    font-style: italic;
}

.top {
    width: 50vw;
}

.big>td {
    width: 25%
}

.big {
    font-size: 3rem;
    text-align: center;
}

.small {
    text-align: center;
}

#distro {
    width: 50vw;
    text-align: center;
}

#dn>td {
    font-size: 2rem;
    width: 16.66%;
}

#bars {
    height: 7rem;
}

#bars>td {
    vertical-align: bottom;
}

.count {
    color: #123;
    z-index: 101;
    position: relative;
    top: calc(-1rem - 5px);
    font-size: .8rem;
}

#bars>td>span {
    display: block;
    width: 100%;
    background-color: #111;
    color: transparent;
}

.title {
    padding: 1rem;
}

#reset {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
    padding: .5rem 1.2rem;
    color: #eee;
    font-size: .7rem;
    background-color: #111;
    border-radius: 1.5rem;
}

#keyboard-container {
    text-align: center;
    user-select: none;
    width: 100vw;
    padding-top: 3rem;
}

button {
    width: 7%;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.1rem;
}

.wide {
    width: 12%;
}

#board-wrapper {
    display:flex;
    width:calc(100vw - 20px);
    height:70vh;
    align-items: center;
    position:fixed;
    left:0;
    padding:25px 10px;
}

.board-container {
    margin-top:25px;
    --w: calc(min(4rem, 10vw, 10vh));
    display: grid;
    gap: 1px;
    grid-template-columns: var(--w) var(--w) var(--w) var(--w) var(--w);
    grid-template-rows: var(--w) var(--w) var(--w) var(--w) var(--w) var(--w);
}

.board-container div {
    font-size: 2.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items: center;
}

.guess,
button {
    border: none;
    margin: 1px;
    border: 1px solid #666;
    color: #666;
    background-color: transparent;
}

.reload,
.big {
    padding: 1rem;
    width: fit-content;
    cursor: pointer;
}

.big {
    font-size: 2rem;
}

.gray {
    background-color: #666;
    color: #ddd;
}

.gold {
    background-color: #d8e26b;
    color: #444;
}

.green {
    background-color: #7da860;
    color: #333;
}

#instructions {
    width:100vw;
    text-align: center;
    cursor: default;
    user-select: none;
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.def {
    position: fixed;
    bottom:0;
}
.def > a,
.def > a:visited {
    color:#666;
    font-size:.75rem;
}

.instr {
    padding: 10px 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 450px) {
    button {
        width: 9%;
        padding: 16px 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1rem;
    }

    #keyboard-container {
        position:fixed;
        bottom:20px;
    }

    .board-container div {
        font-size: 2rem;
    }

    .board-container {
        --w: calc(20vw - 3px);
        position:fixed;
        top:50px;
    }

    #statistics {
        transform-origin:top right;
        transform:scale(.5);
    }
}

@media only screen and (max-width: 650px) {
    button {
        width: 9%;
        padding: 15px 5px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-size: 1rem;
    }

    #keyboard-container {
        position: fixed;
        bottom: 20px;
    }

    .board-container div {
        font-size: 2rem;
    }

    .board-container {
        --w: calc(15vw - 9px);
        position: fixed;
        top: 0px;
    }

    #statistics {
        transform-origin: top right;
        transform: scale(.5);
    }
}